.model__horizontal {
    display: flex;
    gap: 1rem;
}

.model__vertical {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.model__center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.model__start {
    align-items: start;
    justify-content: start;
    text-align: start;
}

.model__break {
    flex-wrap: wrap;
}