.topic .container__subtitle {
    text-transform: uppercase;
    font-weight: 400;
}

.topic .menu__list {
    width: 60%;
}

.topic .menu__item {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 2rem;
}

@media screen and (max-width: 454px) {
    .topic .menu__list {
        width: 100%;
    }
}

@media screen and (max-width: 340px) {
    .topic .menu__item {
        width: 100%;
    }
}